* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    hsla(40, 63%, 85%, 1) 0%,
    hsla(22, 94%, 79%, 1) 100%
  );
}

h1 {
  font-size: 40px;
  /* margin-left: 20%;
    margin-right: 20%; */
}
#center {
    margin-top: 3%;
  background-color: antiquewhite;
  position: absolute;
  top: 0px;
  left: 20%;
  padding-left: 20%;
  padding-right: 20%;
}
#tip_percent,
#bill_amount {
  border: none;
  padding: 10px 30px 10px 10px;
  font-size: 18px;
  border-radius: 5px;
}
button {
  margin-bottom: 10%;
  padding: 7px 20px 7px 20px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  background-color: aquamarine;
}
#total_amount{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 600;
}